:root {
  /*     b-g
 */
  --bg-primary: hsla(0, 0%, 100%, 1);
  --bg-secondary: hsla(0, 0%, 96%, 1);
  --accent-clr: hsla(0, 68%, 56%, 1);

  /*   text
 */

  --text-clr: hsla(0, 0%, 0%, 1);
  --text-neutral: hsla(0, 0%, 98%, 1);
}

/* RESET
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* BODY
 */

/* breadcrumb */

.breadcrumb {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #888;
}

.breadcrumb li {
  margin-right: 8px;
}

.breadcrumb li a {
  text-decoration: none;
  color: #333;
}

.breadcrumb li::after {
  content: " / ";
  margin-left: 8px;
  color: #888;
}

.breadcrumb li:last-child::after {
  content: "";
}

.breadcrumb li:last-child a {
  color: #888;
  pointer-events: none;
}

/* billing details */

.billing-details-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 3rem;
}

h2 {
  font: 36px;
  line-height: 30px;
  font-weight: 500;
  color: var(--text-clr);
  margin-block: 30px;
}

.details-form-inputs {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 814px;
  width: 470px;
}

label {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--text-clr);
}
.required {
  color: var(--accent-clr);
}

input[type="text"],
input[type="tel"],
form input[type="email"] {
  display: block;
  width: 100%;
  background-color: var(--bg-secondary);
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 20px;

}

input[type="checkbox"] {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background-color: var(--accent-clr);
  color: var(--text-neutral);
  vertical-align: -35%;
  margin-right: 10px;
  accent-color: var(--accent-clr);

}

/* details-order */

.details-order {
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 600px;
  width: 527px;
}

.order-items-price {
  width: 425px;
  height: 140px;
}
.order-item {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 16px;
  line-height: 24px;
}
.order {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 54px;
}

/* summary details */

.summary-details {
  width: 422px;
  height: 136px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.summary-details p {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* payment options  */

.payment-options {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

input[type="radio"] {
  width: 24px;
  height: 24px;
  vertical-align: -37%;
  margin-right: 10px;
  accent-color: var(--accent-clr);
}
.payment-options img {
  width: 192px;
  height: 28px;
  position: absolute;
  left: 50%;
}

/* coupon section */

.coupon-section {
  display: flex;
  margin-block: 20px;
}

.coupon-section input {
  flex: 1 1 70%;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding-left: 20px;
  font-size: 16px;
  height: 56px;
  margin-right: 15px;
}

.coupon-section button {
  height: 56px;
  background-color: #e63946;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  flex: 1 1 40%;
  font-size: 16px;
}

.order-button {
  height: 56px;
  width: 190px;
  padding: 10px;
  background-color: #e63946;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
