:root {
  --background-clr: hsl(0, 0%, 0%);
  --black-text-clr: hsl(0, 0%, 0%);
  --white-text-clr: hsl(0, 0%, 100%);
}

.signin-con {
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
}

.side-image {
  margin-right: 30px;
  padding-left: 0px;
  width: 805px;
  height: 781px;
  left: 0px;
  top: 200px;
  background: #cbe4e8;
  border-radius: 0px 4px 4px 0px;
}

.right-frame {
  margin-top: 100px;
  background: white;
  padding: 20px;
  width: 300px;
  text-align: center; /* Center text in the container */
}

h2 {
  text-align: left;
  font-family: Inter;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: -10px;
}

p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  margin-top: 20px;
}

.signin-frame {
  margin-bottom: 20px;
  width: Hug (339px) px;
  height: Hug (78px) px;
  gap: 0px;
  opacity: 0px;
}
input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
}

button {
  width: 40%;
  padding: 15px;
  background-color: rgb(216, 67, 67);
  color: rgb(19, 18, 18);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 15px 0;
  justify-content: center;
  display: flex; /* Align items inside the button */
  align-items: center; /* Center items vertically */
}

button:hover {
  opacity: 0.9;
}

.login-container {
  display: flex;
  align-items: center; /* Center items vertically */
}

button {
  margin-right: 10px; /* Space between button and text */
}

.forgot-password {
  margin-left: 40px;
  font-size: 0.8em; /* Keep the font size smaller */
  color: rgb(216, 67, 67); /* Set the text color to pink */
  text-decoration: none; /* Remove underline */
  cursor: pointer; /* Change cursor to pointer */
}

.forgot-password:hover {
  text-decoration: none; /* Add underline on hover */
  color: darkmagenta; /* Change color on hover (optional) */
}
