:root {
    --background-clr: hsl(0, 0%, 0%);
    --black-text-clr: hsl(0, 0%, 0%);
    --white-text-clr: hsl(0, 0%, 100%);
}

/* RESET
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* HEADER
 */

header {
    width: 100%;
    color: var(--white-text-clr);
    background-color: var(--background-clr);
}

.header-container {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-left {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.header-left a {
    color: #ffffff;
}

.header-right {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

/* MAIN || your styling here
 */

main {
    text-align: justify;
}

/* FOOTER */

footer {
    width: 100%;
    color: var(--white-text-clr);
    background-color: var(--background-clr);
}

.footer-container {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
    font-size: 16px;
    flex-wrap: wrap;
}

.footer-container div ul {
    list-style-type: none;
}

.footer-container div ul li {
    margin-bottom: 14px;
    font-size: 15px;
}

footer h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

footer h4 {
    font-size: 18px;
    margin-bottom: 15px;
}

footer input[type="email"] {
    background-color: transparent;
    color: var(--white-text-clr);
    width: 100%;
    border-style: none;
    font-size: 14px;
    flex-grow: 1;
    outline-style: none;
}

footer .mail {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #ddd;
    border-radius: 5px;
}

footer i.bx.bx-send {
    font-size: 20px;
}

footer img {
    max-width: 100%;
    height: auto;
}

footer li img {
    /* width: 30px; */
    margin-right: 10px;
}

footer li img:hover {
    opacity: 0.7;
}

footer li div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
footer div .download {
    margin-top: 2.8rem;
    text-align: justify;
}
footer div .download .app {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer div .media {
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer div ul li:last-child img:hover {
    transform: scale(1.1);
}

/* UTILITY CLASS
 */
.container {
    max-width: 1500px;
    margin-inline: auto;
}
