* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #000000;
}

.container p {
  color: white;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
