.wishlist-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto ;
  gap: 20px;
  width: 100%;
}

.wishlist-card {
  height: 200px;
  background-color: rgb(65, 241, 183);
  color: aliceblue;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
